.WidgetDescription {
  @apply text-xs;
}

.Container {
  @apply p-4;
}

.DocsContainer {
  @apply py-4;
}

.WidgetLink {
  @apply text-xs;
  color: var(--figma-color-bg-brand);
}

.WidgetLink:hover {
  color: var(--figma-color-bg-brand-hover);
}

.WidgetName {
  @apply font-mono font-medium text-sm;
  color: var(--figma-color-text-tertiary);
}

.WidgetDescription {
  color: var(--figma-color-text-tertiary);
  @apply pt-1;
}

.CollapsedDescription {
  @apply line-clamp-3;
}

.CodeBlockContainer {
  @apply relative;
}

.CodeBlock {
  @apply py-4 text-xs overflow-x-scroll;
  scrollbar-color: #bfc5d3 #fafafa;
  scrollbar-width: thin;

  /* To override the default color prism adds */
  background-color: var(--figma-color-bg) !important;
}

::-webkit-scrollbar {
  height: .25rem;
  width: .25rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: var(--figma-color-bg-secondary);
}

/* Click to copy button */
.ClickToCopy {
  @apply absolute top-4 right-0 hover:opacity-80 transition ease-in-out duration-75;
}

.Tooltip {
  @apply text-xs absolute right-6 top-0 transition ease-in-out duration-75;
  color: var(--figma-color-text-tertiary);
}