.Notification {
  @apply p-2 mx-4 rounded-sm;
}

.Content, .Link {
  @apply text-xs;
}

.Link {
  @apply inline-block mt-1 underline hover:no-underline;
}

/* Specific colors for errors and success messages */
.ErrorContainer {
  background-color: var(--figma-color-bg-danger);
}

.ErrorContainer p, .ErrorContainer a {
  color: white;
}

.SuccessContainer {
  border-top: 1px solid var(--figma-color-border);
  @apply px-0 pt-4 pb-0;
}

.SuccessContainer p {
  color: var(--figma-color-text-secondary);
}